@page
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Web
@using Library.Components
@using Library.Services

@model UserModel
@{
    ViewData["Title"] = "Users";
}

<link href="/css/users.css" rel="stylesheet" type="text/css" />

<div class="container">
    <div class="main-body">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4 gutters-sm">
            @(await Html.RenderComponentAsync<UserList>(RenderMode.ServerPrerendered))
        </div>
    </div>
</div>


<script src="_framework/blazor.server.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var failed = '@TempData["FailedName"]';

        if (failed) {
            alert(failed);
        }
    });

</script>

